.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #181818;
}

.music-player {
  background-color: #282828;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.player-title {
  margin-bottom: 20px;
}

.player-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: #1db954;
  border: none;
  padding: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.track {
  background-color: rgba(0, 0, 0, 0.5);
  height: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.track-progress {
  height: 5px;
  background-color: #1db954;
  position: absolute;
  top: 0;
  left: 0;
}